<a href="https://colab.research.google.com/github/lahmuller/CS_Notes/blob/main/Notes/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String

You can use single or double quotes around the strings. This flexibility allows you to use quotes and apostrophes within your strings.

In [ ]:
message='I told my friend, "Python is my favorite lauguage!"'
print(message)
message="The language 'Python' is named after Monty Python, not the snake"
print(message)

I told my friend, "Python is my favorite lauguage!"
The language 'Python' is named after Monty Python, not the snake

## Changing Case in a String with Methods

In [ ]:
name="aDa loVelace"
print(name.title()) # each word begins with a capital letter
print(name.upper())
print(name.lower())

Ada Lovelace
ADA LOVELACE
ada lovelace

## Using variables in Strings
To insert a variable's value into a string, place the letter *f* immediately before the opening quotation mark. Put braces around the name or the names of any variable. Python will replace each variable with its value when the string is displayed.

In [ ]:
first_name="ada"
last_name="lovelace"
full_name=f"{first_name} {last_name}"# This string is called f-string. The f is for format
print(full_name)
a=11
print(f"Hello, {full_name.title()} {a}")

ada lovelace
Hello, Ada Lovelace 11

F-string were first introduced in Python 3.6. In Python 3.5 or earlier, we need to use the ***format()*** method rather than this f syntax.

In [ ]:
full_name="{} {}".format(first_name,last_name)
print(full_name)

ada lovelace

## Adding Whitespace to Strings with Tabs or Newlines

In [ ]:
print("Python\n")
print("\tPython\n")
print("Languages:\nPython\nC\nJavaScript\n")
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Python

	Python

Languages:
Python
C
JavaScript

Languages:
	Python
	C
	JavaScript

## Stripping Whitespace

In [ ]:
s='  python  '
print(s.rstrip())# right
print(s.lstrip())# left
print(s.strip())# both side

  python
python
python

# Numbers

## Floats
Python calls any number with a decimal point a ***float***

In [ ]:
print(0.2+0.1) # This happens in all languages and is of little concern.
# when you divide any two numbers, even if they are integers that result in a whole number, you'll always get a float
print(4/2)

0.30000000000000004
2.0

When writing long numebrs, we can group digits using underscores to make large numbers more readable

In [ ]:
universe_age=14_000_000_000
print(universe_age)

14000000000

Multiple assignment

In [ ]:
x,y,z=0,0,0

A constant is like a variable whose value stays the same throughout the life of a program. Python doesnâ€™t have built-in constant types, but Python programmers use all capital letters to indicate a variable should be treated as a constant and never be changed

In [ ]:
MAX_CONNECTIONS=5000

# List

## Appending Elements to the End of a List

In [2]:
motor=['honda','yamaha','suzuki']
motor.append('ducati')
print(motor)

['honda', 'yamaha', 'suzuki', 'ducati']

## Removing Elements from a List

### By position

In [3]:
# If the position of the element is known
del motor[0]
print(motor)
#pop()
popped_element=motor.pop()
print(motor)
print(popped_element)

['yamaha', 'suzuki', 'ducati']
['yamaha', 'suzuki']
ducati

Popping items from any position in a List

In [4]:
motor=['honda','yamaha','suzuki']
elem1=motor.pop(1)
print(motor,elem1)

['honda', 'suzuki'] yamaha

### By value

In [5]:
motor.remove('honda')
print(motor)
# remove() deletes only the first occurence of the value we specify

['suzuki']

## Organizing a List

### Sorting a List Permanently with the sort() Method

In [7]:
cars=['bmw','audi','toyota','subaru']
cars.sort()
print(cars)
# You can also sort this in reverse alphabetical order by passing the argument reverse=True to sort() method
cars.sort(reverse=True)
print(cars)

['audi', 'bmw', 'subaru', 'toyota']
['toyota', 'subaru', 'bmw', 'audi']

### Sorting a List Temporarily with the sorted() Function

In [8]:
print(cars)
print(sorted(cars))
print(cars)

['toyota', 'subaru', 'bmw', 'audi']
['audi', 'bmw', 'subaru', 'toyota']
['toyota', 'subaru', 'bmw', 'audi']

### Reversing a List

In [9]:
cars=['bmw','audi','toyota','subaru']
cars.reverse()
print(cars)

['subaru', 'toyota', 'audi', 'bmw']

### Finding the length of a List

In [10]:
len(cars)

4

## Making Numerical Lists

### Using range() to make a list of Numbers

In [11]:
numbers=list(range(1,6))
print(numbers)
# skip numbers in a given range
even_numbers=list(range(2,11,2))
print(even_numbers)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

### Simple Statistics with a List of Numbers

In [12]:
digits=list(range(10))
print(min(digits),max(digits),sum(digits))

0 9 45

### List Comprehension

In [13]:
squares=[value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Working with Part of a List
### Slicing a List

In [14]:
players=['charles','martina','michael','florence','eli']
print(players[0:3])
print(players[1:4])
print(players[:4])
print(players[2:])
print(players[-3:])# the last three
print(players[::2])# skip

['charles', 'martina', 'michael']
['martina', 'michael', 'florence']
['charles', 'martina', 'michael', 'florence']
['michael', 'florence', 'eli']
['michael', 'florence', 'eli']
['charles', 'michael', 'eli']

### Copying a List

In [15]:
food=['pizza','falafel','carrot cake']
friend_food=food[:]
food.append('steak')
print(food,friend_food)

['pizza', 'falafel', 'carrot cake', 'steak'] ['pizza', 'falafel', 'carrot cake']

# Tuples
Python refers to values that cannot change as immutable, and a immutable list is called tuple.

Tuples are technically defined by the presence of a ***comma***; the parentheses make them look neater and more readable. If we want to define a tuple with one element, we need to include a ***trailing comma***

In [16]:
my_t=(2,)

## Writing over a Tuple
* Although we cannot modify a tuple, we can assign a new value to a variable that represents a tuple.

In [17]:
dimensions=(200,50)
for dim in dimensions:
  print(dim)
dimensions=(400,100)
for dim in dimensions:
  print(dim)

200
50
400
100

# matplotlib

## pyplot

In [ ]:
import matplotlib.pyplot as plt
plt.tight_layerout(pad=1.08,h_pad=None,w_pad=None,rec=None)
# pad is used for padding between the figure edge and the edges of subplots, as a fraction of the font size
# h_pad, w_pad is for height and width padding.
# rect: This parameter is rectangle in the normalized figure coordinate that the whole subplots area will fit into.