<a href="https://colab.research.google.com/github/lahmuller/CS_Notes/blob/main/Notes/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String

You can use single or double quotes around the strings. This flexibility allows you to use quotes and apostrophes within your strings.

In [ ]:
message='I told my friend, "Python is my favorite lauguage!"'
print(message)
message="The language 'Python' is named after Monty Python, not the snake"
print(message)

I told my friend, "Python is my favorite lauguage!"
The language 'Python' is named after Monty Python, not the snake

## Changing Case in a String with Methods

In [ ]:
name="aDa loVelace"
print(name.title()) # each word begins with a capital letter
print(name.upper())
print(name.lower())

Ada Lovelace
ADA LOVELACE
ada lovelace

## Using variables in Strings
To insert a variable's value into a string, place the letter *f* immediately before the opening quotation mark. Put braces around the name or the names of any variable. Python will replace each variable with its value when the string is displayed.

In [ ]:
first_name="ada"
last_name="lovelace"
full_name=f"{first_name} {last_name}"# This string is called f-string. The f is for format
print(full_name)
a=11
print(f"Hello, {full_name.title()} {a}")

ada lovelace
Hello, Ada Lovelace 11

F-string were first introduced in Python 3.6. In Python 3.5 or earlier, we need to use the ***format()*** method rather than this f syntax.

In [ ]:
full_name="{} {}".format(first_name,last_name)
print(full_name)

ada lovelace

## Adding Whitespace to Strings with Tabs or Newlines

In [ ]:
print("Python\n")
print("\tPython\n")
print("Languages:\nPython\nC\nJavaScript\n")
print("Languages:\n\tPython\n\tC\n\tJavaScript")

Python

	Python

Languages:
Python
C
JavaScript

Languages:
	Python
	C
	JavaScript

## Stripping Whitespace

In [ ]:
s='  python  '
print(s.rstrip())# right
print(s.lstrip())# left
print(s.strip())# both side

  python
python
python

# Numbers

## Floats
Python calls any number with a decimal point a ***float***

In [ ]:
print(0.2+0.1) # This happens in all languages and is of little concern.
# when you divide any two numbers, even if they are integers that result in a whole number, you'll always get a float
print(4/2)

0.30000000000000004
2.0

When writing long numebrs, we can group digits using underscores to make large numbers more readable

In [ ]:
universe_age=14_000_000_000
print(universe_age)

14000000000

Multiple assignment

In [ ]:
x,y,z=0,0,0

A constant is like a variable whose value stays the same throughout the life of a program. Python doesnâ€™t have built-in constant types, but Python programmers use all capital letters to indicate a variable should be treated as a constant and never be changed

In [ ]:
MAX_CONNECTIONS=5000

# List

## Appending Elements to the End of a List

In [ ]:
motor=['honda','yamaha','suzuki']
motor.append('ducati')
print(motor)

['honda', 'yamaha', 'suzuki', 'ducati']

## Removing Elements from a List

### By position

In [ ]:
# If the position of the element is known
del motor[0]
print(motor)
#pop()
popped_element=motor.pop()
print(motor)
print(popped_element)

['yamaha', 'suzuki', 'ducati']
['yamaha', 'suzuki']
ducati

Popping items from any position in a List

In [ ]:
motor=['honda','yamaha','suzuki']
elem1=motor.pop(1)
print(motor,elem1)

['honda', 'suzuki'] yamaha

### By value

In [ ]:
motor.remove('honda')
print(motor)
# remove() deletes only the first occurence of the value we specify

['suzuki']

## Organizing a List

### Sorting a List Permanently with the sort() Method

In [ ]:
cars=['bmw','audi','toyota','subaru']
cars.sort()
print(cars)
# You can also sort this in reverse alphabetical order by passing the argument reverse=True to sort() method
cars.sort(reverse=True)
print(cars)

['audi', 'bmw', 'subaru', 'toyota']
['toyota', 'subaru', 'bmw', 'audi']

### Sorting a List Temporarily with the sorted() Function

In [ ]:
print(cars)
print(sorted(cars))
print(cars)

['toyota', 'subaru', 'bmw', 'audi']
['audi', 'bmw', 'subaru', 'toyota']
['toyota', 'subaru', 'bmw', 'audi']

### Reversing a List

In [ ]:
cars=['bmw','audi','toyota','subaru']
cars.reverse()
print(cars)

['subaru', 'toyota', 'audi', 'bmw']

### Finding the length of a List

In [ ]:
len(cars)

4

## Making Numerical Lists

### Using range() to make a list of Numbers

In [ ]:
numbers=list(range(1,6))
print(numbers)
# skip numbers in a given range
even_numbers=list(range(2,11,2))
print(even_numbers)

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]

### Simple Statistics with a List of Numbers

In [ ]:
digits=list(range(10))
print(min(digits),max(digits),sum(digits))

0 9 45

### List Comprehension

In [ ]:
squares=[value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Working with Part of a List
### Slicing a List

In [ ]:
players=['charles','martina','michael','florence','eli']
print(players[0:3])
print(players[1:4])
print(players[:4])
print(players[2:])
print(players[-3:])# the last three
print(players[::2])# skip

['charles', 'martina', 'michael']
['martina', 'michael', 'florence']
['charles', 'martina', 'michael', 'florence']
['michael', 'florence', 'eli']
['michael', 'florence', 'eli']
['charles', 'michael', 'eli']

### Copying a List

In [ ]:
food=['pizza','falafel','carrot cake']
friend_food=food[:]
food.append('steak')
print(food,friend_food)

['pizza', 'falafel', 'carrot cake', 'steak'] ['pizza', 'falafel', 'carrot cake']

## Checking That a List Is Not Empty

In [ ]:
requested_toppings=[]
if requested_toppings:
  for r in requested_toppings:
    print(r)
else:
  print('No toppings')

No toppings

In [ ]:
!python -V

Python 3.7.9

# Tuples
Python refers to values that cannot change as immutable, and a immutable list is called tuple.

Tuples are technically defined by the presence of a ***comma***; the parentheses make them look neater and more readable. If we want to define a tuple with one element, we need to include a ***trailing comma***

In [ ]:
my_t=(2,)

## Writing over a Tuple
* Although we cannot modify a tuple, we can assign a new value to a variable that represents a tuple.

In [ ]:
dimensions=(200,50)
for dim in dimensions:
  print(dim)
dimensions=(400,100)
for dim in dimensions:
  print(dim)

200
50
400
100

# Dict

In python, a dictionary is wrapped in braces {}

In [ ]:
alien_0={'color':'green','point':5}
print(alien_0['color'])
print(alien_0['point'])
alien_0['color']='yellow'
alien_0['x_position']=0
alien_0['y_position']=25
print(alien_0)

green
5
{'color': 'yellow', 'point': 5, 'x_position': 0, 'y_position': 25}

## Removing Key-Value Pairs

In [ ]:
print(alien_0)
del alien_0['point']
print(alien_0)

{'color': 'yellow', 'point': 5, 'x_position': 0, 'y_position': 25}
{'color': 'yellow', 'x_position': 0, 'y_position': 25}

In [ ]:
favorite_languages={
    'jen':'python',
    'sarah':'c',
    'edward':'ruby',
    'phil':'python',# It's good practice to include a comma after the last key-value pair as well
}

## Using get() to Access Values
Using keys in square brackets to retrieve the value might cause one potential problem: if the key you ask for does't exist, you'll get an error.

The get() method required a key as the first argument. As a second optional argument, you can pass the value to be returned if the key doesn't exist. The defalut value of second argument is None

In [ ]:
speed=alien_0.get('speed','No point value assigned')
print(speed)
speed=alien_0.get('speed')
print(speed)

No point value assigned
None

## Looping Through a Dictionary

### Looping Through All Key-Value Pairs

In [ ]:
user_0={
    'username':'efermi',
    'first':'enrico',
    'last':'fermi',
}
for key,value in user_0.items():
  print(f"\nKey:{key}")
  print(f"Value:{value}")

Key:username
Value:efermi

Key:first
Value:enrico

Key:last
Value:fermi

### Looping Through All keys in a Dictionary

In [ ]:
favorite_languages={
    'jen':'python',
    'sarah':'c',
    'edward':'ruby',
    'phil':'python',
}
for name in favorite_languages.keys():
  print(name.title())
# Looping through the keys is actually the default behavior, so it's same as:
for name in favorite_languages:
  print(name.title())
# Using keys makes the code easier to read

Jen
Sarah
Edward
Phil
Jen
Sarah
Edward
Phil

In [ ]:
# checking if a key is in the dictionary
if 'erin' not in favorite_languages.keys(): # omit the keys() if you want
  print("Erin, please take the poll")

Erin, please take the poll

### Loopint Through a Dictionary's Keys in a Particular Order

In [ ]:
for name in sorted(favorite_languages.keys()):# omit the keys() if you want
  print(name.title())

Edward
Jen
Phil
Sarah

### Looping Through All Values in a Dictionary

In [ ]:
for language in favorite_languages.values():
  print(language.title())
# This approach pulls all the values from the dictionary without checking for repeats.
# Too see each language chosen without repetition, we can use a set. A set is a colleciton in which each item must be unique
print('***************')
for language in set(favorite_languages.values()):
  print(language.title())

Python
C
Ruby
Python
***************
Ruby
Python
C

Unlike list and dictionary, set does not retain items in any specific order.

## Nesting
Sometimes youâ€™ll want to store multiple dictionaries in a list, or a list of items as a value in a dictionary. This is called nesting.

### A List of Dictionaries

In [ ]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}
aliens = [alien_0, alien_1, alien_2]
for alien in aliens:
  print(alien)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}

### A List in a Dicitonary

In [ ]:
# Store information about a pizza being ordered
pizza = {    
    'crust': 'thick',    
    'toppings': ['mushrooms', 'extra cheese'],    
  }
# Summarize the order.
print(f"You ordered a {pizza['crust']}-crust pizza ""with the following toppings:")
for topping in pizza['toppings']:    
  print("\t" + topping)

You ordered a thick-crust pizza with the following toppings:
	mushrooms
	extra cheese

In [ ]:
favorite_languages = {    
    'jen': ['python', 'ruby'],    
    'sarah': ['c'],    
    'edward': ['ruby', 'go'],    
    'phil': ['python', 'haskell'],    
  }
for name, languages in favorite_languages.items():
  print(f"\n{name.title()}'s favorite languages are:")    
  for language in languages:        
    print("\t"+language.title())

Jen's favorite languages are:
	Python
	Ruby

Sarah's favorite languages are:
	C

Edward's favorite languages are:
	Ruby
	Go

Phil's favorite languages are:
	Python
	Haskell

Notes: you should not nest lists and dictionaries too deeply. If youâ€™re nesting items much deeper than what you see in the preceding examples or youâ€™re working with someone elseâ€™s code with significant levels of nesting, most likely a simpler way to solve the problem exists.

### A Dictionary in a Dictionary

In [ ]:
users = {    
    'aeinstein': {        
        'first': 'albert',
        'last': 'einstein',        
        'location': 'princeton',        
      },    
    'mcurie': {        
        'first': 'marie',        
        'last': 'curie',        
        'location': 'paris',        
      },    
  } 
for username, user_info in users.items():     
  print(f"\nUsername: {username}")     
  full_name = f"{user_info['first']} {user_info['last']}"    
  location = user_info['location']     
  print(f"\tFull name: {full_name.title()}")
  print(f"\tLocation: {location.title()}")

Username: aeinstein
	Full name: Albert Einstein
	Location: Princeton

Username: mcurie
	Full name: Marie Curie
	Location: Paris

# Input

In [2]:
message=input("Tell me something, and I will repeat back to you: ")
print(message)

Tell me something, and I will repeat back to you: hello
hello

## Using int() to Accept Numerical Input

In [3]:
# Python interprets everthing the user enters as a string
age=input("How old are you? ")
age=int(age)
age>=18

How old are you? 21

True

# Using While Loop with Lists and Dictionaries

## Removing All Instances of Specific Values from a List

In [4]:
pets=['dog','cat','dog','goldfish','cat','rabbit','cat']
print(pets)
while 'cat' in pets:
  pets.remove('cat')
print(pets)

['dog', 'cat', 'dog', 'goldfish', 'cat', 'rabbit', 'cat']
['dog', 'dog', 'goldfish', 'rabbit']

## Filling a Dictionary with User Input

In [5]:
responses={}
polling_active=True
while polling_active:
  name=input("\nWhat is your nameï¼Ÿ ")
  response=input("Which mountain would you like to climb someday? ")
  responses[name]=response
  repeat=input('Would you like to let another person respond? (yes/no)')
  if repeat=='no':
    polling_active=False
print('---Polling Results---')
for name,response in responses.items():
  print(f"{name} would like to climb {response}")

What is your nameï¼Ÿ Jack
Which mountain would you like to climb someday? FUJI
Would you like to let another person respond? (yes/no)no
---Polling Results---
Jack would like to climb FUJI

# Functions

## Defining a Function

In [8]:
def greet_user():
  """Display a simple greeting""" # This is a comment called docstring
  print('Hello')
greet_user()

Hello

## Passing Information to a Funciton

In [9]:
def greet_user(username):# username is a parameter
  """Display a simple greeting"""
  print('Hello '+username.title())
greet_user('jack')# 'jack' is an argument

Hello Jack

## Passing Arguments

### Positional Arguments

In [10]:
def describe_pet(animal_type, pet_name):
  """Display information about a pet."""    
  print(f"\nI have a {animal_type}.")    
  print(f"My {animal_type}'s name is {pet_name.title()}.") 
describe_pet('hamster', 'harry')
# order matters in positional arguments

I have a hamster.
My hamster's name is Harry.

### Keyword Arguments

In [11]:
describe_pet(pet_name='Harry',animal_type='fish')

I have a fish.
My fish's name is Harry.

### Default Arguments

In [15]:
def describe_pet(animal_type, pet_name='Josh'):# default arguments should follow non-default argument
  """Display information about a pet."""    
  print(f"\nI have a {animal_type}.")    
  print(f"My {animal_type}'s name is {pet_name.title()}.") 
describe_pet('dog')

I have a dog.
My dog's name is Josh.

## Return Values

### Returning a Simple Value

In [16]:
def get_formatted_name(first_name, last_name):    
  """Return a full name, neatly formatted."""     
  full_name = f"{first_name} {last_name}"
  return full_name.title() 
musician = get_formatted_name('jimi', 'hendrix')
print(musician)

Jimi Hendrix

### Making an Argument Optional

In [19]:
def build_person(fisrt_name,last_name,age=None):
  """Return a dictionary of information about a person"""
  person={'fisrt':fisrt_name,'last':last_name}
  if age:
    person['age']=age
  return person
musician=build_person('jimi','hendrix',27)
print(musician)

{'fisrt': 'jimi', 'last': 'hendrix', 'age': 27}

## Passing an Arbitary Number of Arguments

In [20]:
def make_pizza(*toppings):
  """Print the list of toppings that have been requested"""
  print(toppings)
make_pizza('pepperoni')
make_pizza('mushrooms','green peppers','extra cheese')

('pepperoni',)
('mushrooms', 'green peppers', 'extra cheese')

### Mixing Positional and Arbitary Arguments

In [21]:
def make_pizza(size,*toppings):# the parameter that accepts an arbitary number of arguments must be placed last in the function definition
  """Summarize the pizza we are about to make."""    
  print(f"\nMaking a {size}-inch pizza with the following toppings:")     
  for topping in toppings:         
    print(f"- {topping}")
make_pizza(16,'pepperoni')
make_pizza(12,'mushrooms','green peppers','extra cheese')

Making a 16-inch pizza with the following toppings:
- pepperoni

Making a 12-inch pizza with the following toppings:
- mushrooms
- green peppers
- extra cheese

### Using Arbitary Keyword Arguments

In [22]:
def build_profile(first, last, **user_info):## **user_info cause Python to create an empty dictionary called user_info and pack whatever name-value pairs
  """Build a dictionary containing everything we know about a user."""
  user_info['first_name'] = first   
  user_info['last_name'] = last    
  return user_info
user_profile = build_profile('albert', 'einstein',
                location='princeton',                             
                field='physics')
print(user_profile)

{'location': 'princeton', 'field': 'physics', 'first_name': 'albert', 'last_name': 'einstein'}

## Styling Functions
* You need to keep a few details in mind when youâ€™re styling functions. Functions 
should have **descriptive names**, and these names should **use lowercase letters and underscores**.
* Every function should have a comment that explains concisely what the function does. This comment should appear immediately after the function definition and use the docstring format.
* If your program or module has more than one function, you can separate each by two blank lines to make it easier to see where one function ends and the next one begins.

# matplotlib

## pyplot

In [ ]:
import matplotlib.pyplot as plt
plt.tight_layerout(pad=1.08,h_pad=None,w_pad=None,rec=None)
# pad is used for padding between the figure edge and the edges of subplots, as a fraction of the font size
# h_pad, w_pad is for height and width padding.
# rect: This parameter is rectangle in the normalized figure coordinate that the whole subplots area will fit into.